.wcssc-icons-container {
  display: flex;
  flex-flow: row wrap;
}

.wcssc-icons-container a {
  outline: none;
}

.wcssc-icons-container > div {
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 15px;
  width: 33.3%;
}

.wcssc-captcha {
  text-align: center;
}

.wcssc-captcha > p {
  margin: 3px 0;
}

.wcssc-captcha > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.wcssc-notice {
  display: block;
  text-align: center;
  margin: 10px 0;
  background: #81d981;
  color: #333;
  padding: 3px;
  border: 1px solid #AAA;
  border-radius: 3px;
}

.wcssc-notice.sucess {
  background: #81d981;
  color: #333;
}

.wcssc-notice.error {
  background: #cf416c;
  color: #FFF;
}

.wcssc-form-row {
  margin-bottom: 20px;
}

.wcssc-form-row label, .wcssc-form-row input[type="text"], .wcssc-form-row textarea {
  display: block;
  margin: 3px 0;
  width: 90%;
}

.wcssc-form-row button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 1em;
  background: #cfcfcf;
  color: #333;
}

.wcssc-form-row button[type="submit"] {
  background: #c4438d;
  color: #FFF;
}

.cart-row-heading {
  font-weight: 700;
  font-size: 1.2em;
}

.cartremove svg {
  cursor: pointer;
}

.cart-row, .cart-row-remove {
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
  display: flex;
}

.cart-row-remove {
  display: block;
  text-align: center;
}

.cart-row-remove button {
  margin-right: 20px;
}

.cart-row-remove button.remove-cart {
  background: #fe5151;
  color: #FFF;
}

.cartname {
  flex-grow: 3;
}

.cartname > a, .cartname > a:hover {
  text-decoration: none;
}
